@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: #333333;
    background-color: #f9f9f9;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    letter-spacing: -1.5px;
}

.logo {
    width: 45px;
    height: inherit;
    border-radius: 100px;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100vw;

}

.branding a{
    color: #000;
    font-weight: 600;
}

a {
    text-decoration: none;
    transition: ease 0.3s;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

.container-wide{
    padding: 0 40px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    color: #010101;
}
nav a:hover {
    background-color: #ddd;
}

.hero {
    background-color: #fff;
    padding: 0 40px 20px 40px;
    
    margin-top: 60px; /* Account for fixed header */
}

#home .container-wide {
    height: 90vh;
    background-image: url(images/logo.jpg);
    background-color:#000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.main {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 350px;
    max-width: 1500px;
    margin: 0 auto;
    align-self: center;
    margin-bottom: 40px;
}

.back-gradient{
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.main .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.main .right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: end;
}
.main .right p{
    max-width: 450px ;
}
.main .right a{
    max-width: 140px;
}

.hero h1 {
    font-size: 48px;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 1.1;
    max-width: 600px;
}

.book-a-call{
 padding: 10px 25px;
 background-color: #010101;
 border-radius: 12px;
}
.book-a-call a{
    color:#fff;
}

.book-a-call-mobile {
    background-color: #010101;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display:none;
}
.book-a-call-mobile img {
    filter: invert(1);
    width: 18px;
}
.section {
    padding: 80px 0;
    background-color: #ffffff;
}

#dark-section{
    background-color:#010101;
}
#services{
    min-height: 50px;
    margin: 0 auto;
}

.service-box {
    display: flex;
    flex-direction: column;
    background-color: #222;
    min-height: 300px;
    border-radius: 20px;
    padding: 30px;
    transition: transform 0.2s ease;
}
.service-box h3{
    color:#fff;
}
.service-box p{
    color:#fff;
    font-size:14px;
    opacity: 0.4;
}
.service-no{
    font-size:38px;
}
.service-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service-box:hover{
    transform: rotate(3deg) translateY(-10px);
}
.service-link {
    display: inline-flex;
    flex-direction: column;
    max-width: 135px;
    text-align: center;
    opacity:.4;
}
.perks {
    color: #fff;
    opacity: 0.3;
    max-width: 700px;
}
.service-link:hover {
    opacity:1;
    background-color:#fff!important;
}

.container.trust {
    margin-top:30px;
}
.container.trust img {
    width: 110px;
    filter: invert(1);
}
.container.trust {
    display: flex;
    align-items: center;
    gap: 15px;
}

#in-touch {
    text-align: center;
}

#in-touch h2 {
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

.section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.light{
    color:#fff;
}

.section-title h2{
    margin-bottom: 0;
}
.section-title .btn {
    margin-top: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.project-title .btn {
    margin-top: 0;
}

.project,.resource-card {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(3, 7, 18, 0.01), 0px 6px 18px rgba(3, 7, 18, 0.01), 0px 14px 40px rgba(3, 7, 18, 0.02), 0px 25px 70px rgba(3, 7, 18, 0.02), 0px 39px 110px rgba(3, 7, 18, 0.03);
    transition: transform 0.3s ease;
}

.project:hover,.resource-card:hover {
    transform: translateY(-10px);
}

.project img {
    width: 100%;
    aspect-ratio: 4 / 2.75;
    object-fit: cover;
}

.project-info {
    padding: 20px;
}

.project-info h3 {
    margin-bottom: 0;
    font-size: 24px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 14px;
    margin-top: 32px;
    transition:  ease 0.3s;
}

.btn-light{
    background-color: #fff;
    color: #010101;
}

.btn-dark{
    background-color: #010101;
    color: #ffffff;
}


.btn:hover {
    background-color: #f3c84d;
    text-decoration: none;
    color: #010101;
    box-shadow: 0px 2px 2px rgba(3, 7, 18, 0.02), 0px 8px 8px rgba(3, 7, 18, 0.03), 0px 18px 19px rgba(3, 7, 18, 0.05), 0px 32px 33px rgba(3, 7, 18, 0.06), 0px 50px 52px rgba(3, 7, 18, 0.08);
}


footer {
    background-color: #fff;
    color: #010101;
    text-align: center;
    padding: 40px 0 0 0;
}
footer .container{
    border-top: 1px solid #ddd
}

footer a {
    color: #010101;
}

/* Responsive Adjustments */
@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    #thirds {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-content {
        display: flex;
        align-items: start;
        gap: 50px;
    }

    .about-text {
        flex: 1;
        width: 100%;
    }

    .about-image {
        flex: 1;
        width: 100%;
    }
}
@media (max-width: 767px){
    .hero {
        padding: 0 20px 20px 20px;
    }
    .hero h1{
        font-size: 25px;
        letter-spacing: -1px;
        max-width: 300px !important;
    }
    #home .container-wide{
        justify-content: start;
        padding-top:60px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #header {
    padding: 10px 20px;
}
    .book-a-call{
        display:none;
    }
    .book-a-call-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .back-gradient {
        background: none;
    }

    .main .right p {
        font-size: 13px;
    }
    #home .container-wide {
        background-position: center bottom;
    }
    .section-title h2 {
        font-size: 22px;
        letter-spacing: -1px;
    }
    .container.trust {
        flex-direction: column;
        align-items: flex-start;
    }

    #in-touch h2 {
        font-size: 32px;
        letter-spacing: -1px;
    }

/**ABOUT CSS MOBILE**/ 
#about .container {
    width: 100%;
    flex-direction: column;
}   
.stack-box p {
    font-size: 14px!important;
    line-height: normal;
}
#about-me .right, #about-me .left{
    width: 100%!important;
}

}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    #resource-grid .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    #thirds {
        grid-template-columns: repeat(3, 1fr);
    }
    #services{
        width: 1400px;
        max-width: 1400px;
    }
}
@media (max-width:1023px){
     .main {
        flex-direction: column;
        justify-content: start;
        gap: 20px;
    }
    .main .left,.main .right{
        width: 100%;
    }
    .hero h1 {
        max-width: 700px;
    }
    .main .right p{
        max-width: 100% ;
    }
    .about-content {
        flex-direction: column;
    }
}    

/*STATUS BAR CSS:: Green Pulsing circle animation only css
By Alessandro Maculotti
*/
 .status {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
}
 .status--circle {
	 width: 8px;
	 height: 8px;
	 border-radius: 50%;
	 display: inline-block;
	 margin-right: 10px;
	 background-color: #12e200;
	 position: relative;
}
 .status--circle:after {
	 content: '';
	 position: absolute;
	 top: 0%;
	 left: 0%;
	 width: 100%;
	 height: 100%;
	 -webkit-animation: circle-pulse 2s infinite;
	 animation: circle-pulse 2s infinite;
	 border-radius: 50%;
	 box-shadow: 0 0 0 0 #12e200;
}
 @keyframes circle-pulse {
	 0% {
		 transform: scale(0.95);
		 box-shadow: 0 0 0 0 rgba(77, 170, 87, 0.9);
	}
	 50% {
		 transform: scale(1);
		 box-shadow: 0 0 0 8px rgba(77, 170, 87, 0);
	}
	 100% {
		 transform: scale(0.95);
		 box-shadow: 0 0 0 0 rgba(77, 170, 87, 0);
	}
}

/******ABOUT ME PAGE********/
#about.hero h1 {
    max-width: 720px;
}
.about-banner img {
    border-radius: 25px;
}
.about-banner {
    max-width: 1400px;
}
#about-me {
    display: flex;
    justify-content: space-between;
    margin-top:30px;
    padding-bottom: 60px;
}
#about-me .left{
    width: 30%;
}
#about-me .right{
    width: 70%;
}
#about-me .right p{
    font-size:18px;
    padding-bottom:15px;
    opacity: 0.6;
}
#about-page .alt {
    padding-top: 0;
    padding-bottom: 0;
}
.about-image img {
        border-radius: 25px;
        margin-bottom: 50px;
    }
.about-text h2 {
    text-align: left;
    margin-bottom: 30px;
}
#about p {
    margin-top: 10px;
}

.resource-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.resource-box img {
    width: 75px;
    filter: invert(1);
    margin: 0 auto;
}

/*STACKS*/
.outer-stack {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stack-box img {
    width: 56px;
    height: 56px;
    border-radius: 13px;
}
.stack-box{
    display: flex;
    gap: 15px;
    padding:15px;
    background-color: #f7f7f7;
    border-radius:20px;
}
.stack-box-active{
    background-color: #f3c84d!important;
    box-shadow: 0px 2px 2px rgba(3, 7, 18, 0.02), 0px 8px 8px rgba(3, 7, 18, 0.03), 0px 18px 19px rgba(3, 7, 18, 0.05), 0px 32px 33px rgba(3, 7, 18, 0.06), 0px 50px 52px rgba(3, 7, 18, 0.08);
    display: flex;
    position: relative;
}
.stack-box h3{
    font-size: 20px;
    letter-spacing: -1px;
}
.stack-box p{
    font-size:16px;
}
#resources {
    justify-content: center;
    color: #fff;
    align-items: center;
    min-height: 400px;
    margin-bottom: 0;
}

/***CONTACT PAGE CSS****/
#contact-page section{
    padding-top:0;
}
.contact-me,.contact-me h1{
    text-align: center;
}
section.hero.contact-me .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-page form {
    box-shadow: 0px 2px 2px rgba(3, 7, 18, 0.02), 0px 8px 8px rgba(3, 7, 18, 0.03), 0px 18px 19px rgba(3, 7, 18, 0.05), 0px 32px 33px rgba(3, 7, 18, 0.06), 0px 50px 52px rgba(3, 7, 18, 0.08);
}

/**PROJECT PAGE CSS**/
#project-page .section{
    padding-top:0;
}

/**RESOURCE PAGE**/
.resource-info {
    padding: 15px;
    color: #010101;
}
.resource-card img {
    aspect-ratio: 4 / 2.7;
    object-fit: cover;
}
.resource-info h3 {
    letter-spacing: -1.2px;
}
.resource-info p {
    font-size:12px;
}
#resource-page .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
